
<h1 mat-dialog-title>Carrinho</h1>
<div class="dialogo" mat-dialog-content>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let i of [1,2,3,4,5]">
        <app-carrinho-item></app-carrinho-item>
      </li>

      <li class="list-group-item active">
        <strong>Total: {{ 1100 | currency: 'BRL' }}</strong>
      </li>
    </ul>

</div>
<div class="button" mat-dialog-actions>
  <button class="btn btn-outline-secondary" (click)="cancelar()">Fechar</button>
  <button class="btn btn-outline-success" type="submit"> Finalizar Pedido</button>
</div>

