<div class="container mt-5">
    <div class="row">
      <div class="col-lg-15 offset-lg-0">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">Detalhamento de Pedido</span>
    <div class="input-group mb-3">
      <span class="input-group-text">Código do pedido</span>
      <span class="form-control" ></span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Cliente</span>
        <span class="form-control" ></span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Endereço de entrega</span>
        <span class="form-control" ></span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Situação</span>
        <span class="form-control" ><i class="fas fa-exchange-alt text-primary"></i></span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Sub-Total</span>
        <span class="form-control" ></span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Desconto</span>
        <span class="form-control" ></span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Valor Total</span>
        <span class="form-control" ></span>
      </div>
      <div class="input-group mb-3">
        <span class="titulo ">Itens do Pedido</span>
        <table class="table table-borderless table-hover mt-lg-5">
            <thead>
              <tr>
                <th scope="col">Código Produto</th>
                <th scope="col">Produto</th>
                <th scope="col">Valor unitário</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Total do item</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody >
              <tr>
                <td>123</td>
                <td>Trufa</td>
                <td> R$ 2,50</td>
                <td>6</td>
                <td>R$ 15,00</td>
                <td><i class="fas fa-edit text-primary"></i></td>
              </tr>
            </tbody>
          </table>

      </div>
          </div>
        </div>
      </div>
    </div>
</div>