<div class="container mt-5">
    <div class="row">
      <div class="col-lg-15 offset-lg-0">
        <div class="card">
          <div *ngFor= "let pedido of pedido" class="card-body text-center">
            <span class="titulo">Detalhamento de Pedido</span>
    <div class="input-group mb-3">
      <span class="input-group-text">Código do pedido</span>
      <span class="form-control" >{{pedido.id}}</span>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">Cliente</span>
        <span class="form-control" >{{pedido.nome}}</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Endereço de entrega</span>
        <span class="form-control" >{{pedido.enderecoEntrega}}</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Situação</span>
        <span class="form-control" >{{pedido.aberto}}<i class="fas fa-exchange-alt text-primary"></i></span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Sub-Total</span>
        <span class="form-control" >{{pedido.valorTotal}}</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Desconto</span>
        <span class="form-control" >{{pedido.percentualDesconto}} %</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Valor Total</span>
        <span class="form-control" >{{pedido.valorComDesconto}}</span>
      </div>
    </div>

      <div class="input-group mb-3">
        <span class="titulo ">Itens do Pedido</span>
        <table class="table table-borderless table-hover mt-lg-5">
            <thead>
              <tr>

                <th scope="col">Produto</th>
                <th scope="col">Valor unitário</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Total do item</th>
               
              </tr>
            </thead>
            <tbody *ngFor = "let item of itens" >
              <tr>
                
                <td>{{item.nomeProduto}}</td>
                <td> R$ {{item.valorUnitario}}</td>
                <td>{{item.quantidade}}</td>
                <td>R$ {{item.valorTotal}}</td>
               

              </tr>
            </tbody>
          </table>

      </div>
        </div>
      </div>
    </div>
</div>
