<div class="card-body row">
  <div class="grid-produtos col" *ngFor="let produto of produtos">

    <div class="produto">
      <div class="produto__imagem">
        <img src="{{produto.urlFotos}}" width="200px" height="150px" alt="">
        <h3><b> {{produto.nome}}</b> </h3>
        <p class="descricao"> {{produto.descricao}}</p>
        <p class="preco"><strong> {{ produto.valorUnitario | currency: 'BRL' }}</strong></p>
      </div>
      <div class="produto_botao">
        <button class="btn btn-outline-danger" (click)="addToCart(produto)" >Quero!</button>
      </div>
    </div>

  </div>
</div>
