<div class="card-body row">
  <div class="grid-produtos col" *ngFor="let produto of produtos">
    <form [formGroup]="itemPedidoForm" (ngSubmit)="addToCart(produto)" >
    <div class="produto">
      <div class="produto__imagem">
        <img src="{{produto.urlFoto}}" width="200px" height="150px" alt="">
        <h3><b> {{produto.nome}}</b> </h3>
        <p class="descricaoProduto"> {{produto.descricaoProduto}}</p>
        <p class="preco"><strong> {{ produto.valorUnitario | currency: 'BRL' }}</strong></p>
      </div>
      <div class="produto_botao">
        <input type="number" formControlName="quantidade" class="form-control">
        <button class="btn btn-outline-danger" type="submit" >Quero!</button>
      </div>
    </div>
    </form>
  </div>
</div>
