<div style="text-align: end; margin-top: 4%;"><a class="btn btn-primary" routerLink=''>Inicio</a></div>
<div class="card" style="margin-top: 4%; ">
  <div class="card-header">
    <div class="card-header text-center">
      <h2 id="titulo_card">Cadastro de Produtos</h2>
    </div>
    <div class="card-body">

      <form [formGroup]="produtoForm" (ngSubmit)="cadastrarProduto()">
        <div class="input-group mb-3">
          <span class="input-group-text">Nome</span>
          <input formControlName="nome" id="nome" type="text" class="form-control" placeholder="Nome do Produto"
            required>
        </div>
        <div class="text-danger"
          *ngIf="produtoForm.get('nome')?.hasError('required') && produtoForm.get('nome')?.touched">
          <span>Campo obrigatório!</span>
        </div>
        <br>
        <div style="width: 300px;">
          <label class="input-group-text">Descrição</label>
          <textarea formControlName="descricaoProduto" name="descricaoProduto" id="descricaoProduto" cols="40"
            rows="5">Informações do produto... </textarea>
        </div>
        <br>
        <div class="input-group mb-3" style="width: 300px;">
          <select  formControlName="unidadeMedida" id="unidade_medida" class="form-select" 
            style=" background-color: #ffe6a7; font-weight: bold;">
            <option value="kg">Kilo</option>
            <option value="g">Gramas</option>
          </select>
          <input formControlName="peso" id="peso" type="number" class="form-control" placeholder="Peso" required>
        </div>
        <div class="text-danger"
          *ngIf="produtoForm.get('peso')?.hasError('required') && produtoForm.get('peso')?.touched">
          <span>Campo obrigatório!</span>
        </div>
        <div class="input-group mb-3" style="width: 300px;">
          <span class="input-group-text">Valor Unitário R$</span>
          <input formControlName="valorUnitario" id="valorUnitario" type="number" class="form-control"
            aria-label="Valor Unitário" required>
          <span class="input-group-text">.00</span>
        </div>
        <div class="text-danger"
          *ngIf="produtoForm.get('valorUnitario')?.hasError('required') && produtoForm.get('valorUnitario')?.touched">
          <span>Campo obrigatório!</span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Imagem do Produto</span>
          <input id="urlFoto" formControlName="urlFoto" type="text" class="form-control" required>
        </div>
        <div class="text-danger"
        *ngIf="produtoForm.get('urlFoto')?.hasError('required') && produtoForm.get('urlFoto')?.touched">
        <span>Campo obrigatório!</span>
        </div>
        <div class="input-group mb-3" style="width: 400px;">
          <span class="input-group-text">Data de Fabricação</span>
          <input id="dataFabricacao" formControlName="dataFabricacao" type="date" class="form-control" required>
        </div>
        <div class="text-danger"
        *ngIf="produtoForm.get('dataFabricacao')?.hasError('required') && produtoForm.get('dataFabricacao')?.touched">
        <span>Campo obrigatório!</span>
        </div>
        <div class="input-group mb-3" style="width: 400px;">
          <span class="input-group-text">Data de Validade</span>
          <input id="dataValidade" formControlName="dataValidade" type="date" class="form-control" required>
        </div>
        <div class="text-danger"
        *ngIf="produtoForm.get('dataValidade')?.hasError('required') && produtoForm.get('dataValidade')?.touched">
        <span>Campo obrigatório!</span>
        </div>
        <div class="input-group mb-3" style="width: 400px;">
          <span class="input-group-text">Quantidade</span>
          <input id="quantidadeEstoque" formControlName="quantidadeEstoque" type="number" class="form-control"
            placeholder="Quantidade para Estoque" required>
        </div>
        <div class="text-danger"
        *ngIf="produtoForm.get('quantidadeEstoque')?.hasError('required') && produtoForm.get('quantidadeEstoque')?.touched">
        <span>Campo obrigatório!</span>
        </div>

        <br>
        <button class="btn btn-outline-secondary float-start" routerLink="/">Voltar</button>
        <button id="btn-cadastro" type="submit" [disabled]='produtoForm.invalid'
          class="btn btn-outline-success float-end">Cadastrar</button>
      </form>
    </div>
  </div>
</div>
