<div class="card" style="margin-top: 3%;">
  <div class="card-body">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="width: 90%;">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/img/chocoSlide_1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/chocoSlide_2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../../assets/img/chocoSlide_3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
   <h2 class="text-center">🍬🍫  Nossos Produtos 🍫🍬 </h2> 
  </div>

  <div class="card-body">
    <div class="grid-produtos">

      <div class="produto">
        <div class="produto__imagem">
          <img src="../../../assets/img/chocoSlide_2.png" width="200px" height="150px" alt="">
          <p>Descrição do Produto </p>
        </div>
        <div class="produto_botao">
          <input type="number" class="form-control">
          <button class="btn btn-outline-danger">Quero!</button>
        </div>
      </div>
      <div class="produto">
        <div class="produto__imagem">
          <img src="../../../assets/img/chocoSlide_2.png" width="200px" height="150px" alt="">
          <p>Descrição do Produto </p>
        </div>
        <div class="produto_botao">
          <input type="number" class="form-control">
          <button class="btn btn-outline-danger">Quero!</button>
        </div>
      </div>
      <div class="produto">
        <div class="produto__imagem">
          <img src="../../../assets/img/chocoSlide_2.png" width="200px" height="150px" alt="">
          <p>Descrição do Produto </p>
        </div>
        <div class="produto_botao">
          <input type="number" class="form-control">
          <button class="btn btn-outline-danger">Quero!</button>
        </div>
      </div>
      
    </div>  
    <br>
    <a class="btn btn-success" routerLink="fazer-pedido">Finalizar Pedido 🛒</a>
  </div>

</div>