<div class="container mt-5">
  <div class="row">
    <div class="col-lg-15 offset-lg-0">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Lista de Produtos</span>
          <button type="button" class="btn btn-outline-warning float-end" routerLink="/produto-cadastrar">Novo Produto</button>
          <table class="table table-borderless table-hover mt-lg-5">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descricao</th>
                <th scope="col">Unidade de Medida</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Status</th>
                <th scope="col">Editar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody *ngFor="let produto of produtos">
              <tr>
                <th scope="row">{{produto.codigo}}</th>
                <td>{{produto.descricaoProduto}}</td>
                <td>{{produto.unidadeMedida}}</td>
                <td>{{produto.valorUnitario}}</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="produtoAtivo"
                      formControlName="estado"/>
                  </div>
                </td>
                <td><i class="fas fa-edit text-primary" routerLink="/produto-cadastrar"></i></td>
                <td><i class="far fa-trash-alt text-danger"></i></td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
