html{
  background-color: #ffe6a7 ;
}
 
  button {
    background-color: #ffe6a7;
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    margin-top: 1%;
  }

  a {
      background-color: #ffe6a7;
      text-decoration: none;
      color: #6f1d1b;
  }
 
  .menu__lateral{
    text-align: center;
    margin-left: 1%;
    width: 20%;
    height: 100%;
    background-color:#432818;
    color: #ffe6a7;
    margin-top: 1%;
  }

  .barra_lateral{
    display: flex;
    width: 100%;
    height: 100%;
  }

  .componentes {
     
      margin-left: 2%;
      margin-top: 2%;
  }

 #teste_fonte{
  font-family: 'Mochiy Pop One', sans-serif;
  color: #ffe6a7;

 }