<form class="example-form">

  
  <!-- data:  pegar a data atual -->
  
  <!-- O valor será o código do cliente, mas na tela, mostra o nome do cliente -->
  <div class="example-container">
    <mat-form-field appearance="fill" class="select-document">
      <mat-label>Cliente</mat-label>
      <mat-select>
        <mat-option value="1">Evelin</mat-option>
        <mat-option value="2">Isabel</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Endereço de entrega</mat-label>
        <textarea matInput placeholder="Ex.: Avenida Boa Viagem, 254 - Boa Viagem - Recife - PE"></textarea>
      </mat-form-field>
     
    </p>
    <div class="example-container">
      <mat-form-field appearance="fill" class="select-document">
        <mat-label>Situação do pedido</mat-label>
        <mat-select>
          <mat-option value="true">Aberto</mat-option>
          <mat-option value="false">Fechado</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
        
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Valor total</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Quantidade de itens</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Desconto</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  