<div class="container mt-5">
  <div class="row">
    <div class="col-lg-15 offset-lg-0">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Lista de Pedidos</span>
          <table class="table table-borderless table-hover mt-lg-5">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Data</th>
                <th scope="col">Cliente</th>
               
                <th scope="col">Situação</th>
                
                
                <th scope="col">Valor Final</th>
                <th scope="col">Editar</th>
              </tr>
            </thead>
            <tbody  *ngFor="let pedido of pedidos">
              <tr>
                <th [routerLink]="['/pedido-detalhar', pedido.id ]" class="page-link" scope="row">{{pedido.id}}</th>
                <td>11/11/2021</td>

                <td >{{pedido.nome}}</td>          
                <td >{{pedido.aberto}} <i (click) = "alteraStatus(pedido.id)" class="fas fa-exchange-alt text-primary"></i> </td>
                <td>R$ {{pedido.valorFinaldoPedido}}</td>
                
                <td> <i [routerLink]="['/editar-pedido', pedido.id]" class="fas fa-edit text-primary"></i></td>
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              
              <li class="page-item"> <button (click)= "buscaPaginado('0')" >1</button></li>
              <li class="page-item"><button (click)= "buscaPaginado('1')" >2</button></li>
              <li class="page-item"><button (click)= "buscaPaginado('2')" >3</button></li>
              <li class="page-item">
                
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
