.table{
  border-radius: 5px;
  margin: 10px;
}

.far{
  cursor: pointer;
  margin-right: 5px;
}

.fas{
  cursor: pointer;
  margin-left: 5px;
}

.form-check-input{
  margin-left: -1.5em;
}


.card{
  width: 110%;
}
