<div class="container mt-5">
  <div class="row">
    <div class="col-lg-15 offset-lg-0">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Lista de Pedidos</span>
          <table class="table table-borderless table-hover mt-lg-5">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Data</th>
                <th scope="col">Cliente</th>

                <th scope="col">Situação</th>


                <th scope="col">Valor Final</th>
                
              </tr>
            </thead>
            <tbody  *ngFor="let pedido of pedidos">
              <tr>
                <th [routerLink]="['/pedido-detalhar', pedido.id ]" scope="row"><button class="btn btn-primary" >{{pedido.id}}</button></th>
                <td>{{pedido.dataPedido}}</td>

                <td>{{pedido.cliente}}</td>
               
                <td>{{pedido.situacao}} <i (click)="alteraStatus(pedido.id)" class="fas fa-exchange-alt text-primary"></i> </td>
               
                <td>R$ {{pedido.valorFinal}}</td>
               
               
              </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center" >
              <li *ngFor= "let pag of paginasBotoes" class="page-item"><button  class="page-link"(click)="getPedidos(pag.toString())">{{pag +1}}</button></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>